@model API.Models.ViewModels.Users.UsersAssignVM

@{
    ViewBag.Title = "Assign User";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Assign to a Team!</h1>
                        </div>
                        @using (Html.BeginForm("Assign", "Users", FormMethod.Post, new { @class = "user" }))
                        {
                            <div class="form-group row">
                                @Html.DropDownListFor(model => model.TeamId, new SelectList(Model.Teams, "Id", "Name"), new { style = "border-radius: 1rem; width: 100%;" })
                            </div>
                            <input type="submit" value="Save" class="btn btn-primary btn-user btn-block" />
                        }
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

